#div_tong{
	background: p#cd1818;
	width: 100%;
	height: 1820px;			

}
#div_tren{
	background: #cd1818;
	width: 100%;
	height: 120px;
}
#div_tren>.trai{
	background: #cd1818;
	width: 15%;
	height: 70%;
	float: left;
}

#div_tren>.giua{
	background: #cd1818;
	width: 50%;
	height: 70%;
	float: left;
	text-align: center;
	position: relative;
	
}		
#div_tren>.phai{
	background: #cd1818;
	width: 35%;
	height: 70%;
	float: left;			
	position: relative;
	
}
#div_tren>.duoi{
	background: #212529;
	width: 100%;
	height: 30%;
	float: left;
}


#div_giua{
	
	width: 100%;
	height: 1400px;
	margin-left:20px ;
}
#div_giua>.tren{
	
	width: 100%;
	height: 33%;			
}
#div_giua>.tong{
	
	width: 100%;
	height: 85%;			
}


#div_giua>.giua{
	
	width: 100%;
	height: 33%;			
}

#div_giua>.duoi{
	
	width: 100%;
	height: 33%;
		
}

#div_duoi{
	
	width: 100%;
	height: 300px;
	background-color: lightblue;
	
}
#div_duoi>.trai{
	
	width: 38%;
	height: 260px;
	padding-left: 20px;
	float: left;
	
}
#div_duoi>.giua{
	
	width: 30%;
	height: 280px;
	float: left;
	
}
#div_duoi>.phai{
	
	width: 30%;
	height: 280px;
	float: left;
	
}
	
	
div#div_tren>.duoi ul{
	list-style-type: none;
	padding-left: 20px;
	margin: 0;
}

div#div_tren>.duoi ul > li > ul{
	display: none;
}
div#div_tren>.duoi ul > li:hover ul{
	display: block;
	position: absolute;
	background: white;			
	width: 600px;
	height: 300px;
	/*float: left;*/
	border: 1px solid black;


}
div#div_tren>.duoi ul > li >ul >li{
	
	margin: 0px ;
	border: none;
	padding: 20px;

}
div#div_tren>.duoi ul li{
	float: left;
	width: 150px;			
	height: 36px;
	/*text-align: center;*/
	display: block;
	margin-right: 0px;
	padding-bottom: 0;
	position: relative;
	align-items: center;
	

}
div#div_tren>.duoi ul>li>a{
	align-items: center;
	height: 100%;
	display: flex;
	color: white;
	
}
div#div_tren>.duoi ul>li>ul>li>a{
	color: black;
}
div#div_tren>.duoi ul>li>a:hover {
	color: #BBBBBB;
}
div#div_tren>.duoi ul>li>ul>li>a:hover {
	color: red;
	font-weight: 700;
	font-size: 17px;
}

a{
	text-decoration: none;
	color: black;
}
img.san_pham{
	margin: 30px;
	padding: 30px;
	height: 40%;
	width: 60%;
	border: none;
}
div.name{
	margin-left: 20px;
	margin-top: 20px;
	height: 50px;
	width: 80%;
	font-size: 25px;
	line-height: normal;
	font-weight: 700;
	float: left;
}
div.prices{
	margin-left: 20px;
	margin-top: 20px;
	height: 50px;
	width: 80%;
	font-size: 25px;
	line-height: normal;
	font-weight: 700;
	color: red;
	float: left;
}
div>a:hover img{
	height: 45%;
	width: 65%;
}
.loai_san_pham{
	width: 100%;
	height: 65px;
}
.san_pham{
	width: 366px;
	height: 556px;
	float: left;
	border: 1px solid black;
	border-radius: 25px;
}

body{
	margin: 0;
	padding: 0;
}	
